html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #2c2141;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial;
}

.main {
  background-color: white;
  width: 624px;
  border-radius: 16px;
  margin: 16px;
  padding: 32px;
}

.card{
  display: flex;
  align-items: flex-start;
}

.card__header {
  margin-bottom: 24px;
}

.card__name {
  font-size: 36px;
  margin: 0px;
  font-weight: normal;
}

.card__position {
  font-size: 18px;
  font-style: italic;
  margin: 0px;
  color: #545454;
}

.card__picture {
  margin-right: 32px;
  transition: transform 0.3s linear;
}

.card__picture:hover{
  transform: rotate(45deg)
}


.card__description {
  font-size: 16px;
  margin: 0px;
  line-height: 22px;
}

.card__link {
  color: #e20613;
  text-decoration: none;
  transition: color 1s linear;
}

.card__link:hover {
  color: blue;
}

.card__description--with-top-margin {
  margin-top: 22px;
}

.special {
  color: #ed6d05;
  font-weight: normal;
}
